@charset "UTF-8";

/* 
Typical Device Breakpoints
----------------------------
📱 Mobile Pequeno	    360px
📱 Mobile Médio	        414px
📱 Mobile Grande	    480px
📱 Tablet               768px
💻 Laptop	            1024px
🖥 Desktop Médio        1280px
🖥 Desktop Grande	    1440px
🖥 4K / Ultra-Wide	    1920px+ 
*/

/* tablet */
@media screen and (min-width:700px) and (max-width:1024px) {

    body {
        background: white url(../files/img/tablet-background.jpg) no-repeat fixed center top;
        background-size: cover;
    }

    main {
        width: 80vw;
        height: 500px;
        flex-wrap: wrap;
    }

    #logo {
        width: 30%;
        height: 100%;
    }

    #form {
        width: 50%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
       font-size: 1.5em;
       margin-bottom: 50px;
    }

    form {
        width: 100%;
        font-size: 1.2em;
    }

    a {
        font-size: .9em;
    }
}

@media screen and (min-width:1024px) {

    body {
        background: white url(../files/img/pc-background.jpg) no-repeat fixed center top;
        background-size: cover;
        transition: background-image 1s ease-in-out;
    }

    main {
        font-size: 1.1em;
        width: 950px;
        flex-wrap: wrap;
    }

    #logo {
        width: 27%;
        height: 100%;
    }

    #form {
        width: 50%;
        height: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
       font-size: 1.5em;
       margin-top: 10px;
       margin-bottom: 80px;
       
    }

    form {
        width: 100%;
        font-size: 1.2em;
    }

    .send {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    a {
        font-size: .9em;
    }

}