/* Login Screen 'Bubble' - by Isabelli Cristina Mocci */


/*----------------------------------------------
Índice   
------------------------------------------------
01. charset type
02. font import
03. global var
04. reset
05. main style
07. logo
08. form style
09. footer
--------------------------------------------- */

/* 
---------------------------------------------
01. charset type
--------------------------------------------- 
*/
@charset "UTF-8";
/* 
---------------------------------------------
02. font import
--------------------------------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* 
---------------------------------------------
03. global var
--------------------------------------------- 
*/
:root {
    /* Paleta de cores */
    --color-claro: ivory;
    --color-escuro: rgb(118, 112, 124);
    --color-verde: #72ccd7;
    --color-text: #5357a7;

    /* Tipografia */
    --font-family-principal: 'Poppins', sans-serif;
}

/* 
---------------------------------------------
04. reset (reseta estilos padrão do navegador)
--------------------------------------------- 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Define o modelo de caixa para incluir bordas e paddings dentro da largura e altura */
    font-size: 1em;
}

body {
    display: flex; /* Usa flexbox para organização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100vw;
    height: 100vh;

    font-family: var(--font-family-principal);
    color: var(--color-text);
    background: white url(../files/img/cell-background.jpg) no-repeat fixed right center;
    background-size: 700px;
    transition: background-position 1s ease-in-out;
}

h1 {
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}

/* 
---------------------------------------------
05. main style
--------------------------------------------- 
*/

main {
    display: flex; /* Usa flexbox para organização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Define a direção dos elementos como coluna */

    height: 65%;
    width: 60%;
    min-width: 300px;
    padding: 20px;
    margin: 0 auto; /* Centraliza automaticamente */

    background: rgba(255, 255, 255, 0.2);
    border-radius: 35px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    transition: width .3s; height: .3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/* 
---------------------------------------------
06. logo
--------------------------------------------- 
*/
#logo {
    background: url('../files/img/logo.png') no-repeat center center;
    background-size: contain;
    width: 60%;
    min-height: 200px;
}

/* 
---------------------------------------------
07. form style
--------------------------------------------- 
*/
form {
    display: flex; /* Usa flexbox para organização */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    flex-direction: column; /* Organiza os elementos em coluna */
    width: 100%;
    height: 100vh;
}

fieldset {
    border: none;
    margin-bottom: 40px;
}

label {
    display: none; /* Oculta os rótulos */
}

input {
    color: #5e69c7;
    border: none; /* Remove a borda */
    background: none; /* Remove o fundo */
    border-bottom: 2px solid white; /* Adiciona uma borda inferior branca */
    margin: 8px;
    padding: 10px;
    width: 85%;
}

input::placeholder {
    color: var(--color-escuro);
    transition: color 0.3s ease;
}

input:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

input:focus {
    border: 1px solid #72cbd78e;
    outline: none; /* Remove o contorno padrão do navegador ao focar no input */ 
}

.send {
    display: inline-block; /* Exibe como bloco inline */
    background-color: var(--color-text);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
}

.send:hover {
    transform: scale(1.1);
    transition: .4s;
}

a {
    font-size: .8em;
    color: var(--color-text);
    display: inline-block;
    cursor: pointer;
}

a:hover {
    color: var(--color-roxo);
}

/* 
---------------------------------------------
08. footer
--------------------------------------------- 
*/
footer {
    position: absolute; /* Faz com que o footer não ocupe um espaço fixo na estrutura normal da página. */
    bottom: 0; /* Fixa na parte inferior da página */
    width: 100%; /* Faz ocupar toda a largura da tela */

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    text-align: center;
    padding: 8px 0;
    font-size: .9em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
    transition: background 0.3s ease;
}

footer:hover {
    background: rgba(255, 255, 255, 0.3); 
}
